
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">TrapMail</a>

        <ul class="list-inline d-flex mb-0">
            <li class="list-inline-item">
                <a class="nav-link text-white" href="/admin/logout">ログアウト</a>
            </li>
        </ul>
    </nav>
