<!DOCTYPE html>
<html>
<head>
    <title>TrapMail - 管理画面</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body id="login" style="background-color: black">

    <div class="container">
        <div class="login-container">

            <div class="form-box">

                <% if(messages.success){ %>
                <div class="alert alert-success clearfix" role="alert"><%=messages.success %></div><br/>
                <% } %>

                <% if(messages.error){ %>
                <div class="alert alert-danger clearfix" role="alert"><%=messages.error %></div><br/>
                <% } %>

                <form action="/admin/login" method="post">
                    <input name="email" type="text" placeholder="email" autocomplete="off" value="">
                    <input name="pass" type="password" placeholder="password" autocomplete="off" value="">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
