<%- include("./_header.ejs", {title: 'ダッシュボード'}) %>
<body>

<div id="content" class="container-fluid">
    <main role="main">

        <div class="page-wrap d-flex flex-row align-items-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <span class="display-1 d-block">404</span>
                        <div class="mb-4 lead">The page you are looking for was not found.</div>
                        <a href="/" class="btn btn-link">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>


<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $(function(){

    });
</script>
</body>
</html>
