<!DOCTYPE html>
<html>
<head>
    <title>TrapMail</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/login.css">
</head>
<body>

    <div class="container">
        <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">

                <% if(messages.error){ %>
                <div class="alert alert-danger clearfix" role="alert"><%=messages.error %></div><br/>
                <% } %>

                <form action="/login" method="post">
                    <input name="email" type="text" placeholder="email" autocomplete="off" value="">
                    <input name="pass" type="password" placeholder="password" autocomplete="off" value="">
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
